<%= javascript_pack_tag "batle"%>

<div class="row ms-6">
  <div class="card-pokemon1 col-md-5 bg-secondary p-2 border rounded">
    <div class="row">
      <div class="stats-pokemon col-md-3 mt-3 ms-3 border border-dark rounded">
        <label><%= @poke.name.upcase %></label>
        <br>
        <label>HP <strong id="hp_poke1"><%= @poke.hp %></strong></label>
        <div class="bg-success rounded-pill m-2" id="bar_life1">
          <br>
        </div>
      </div>
      <div class="col-md">
        <div class="pokemon-in-battle text-center m-2">
          <%= image_tag @poke.image, size: "400x400", class: "pokemon1", id: "pokemon_1" %>
        </div>
      </div>
      <hr class="ms-4 col-md-11 p-1 bg-light">
      <div class="col-md-4">
        <p>Trocar de pokemons</p>
        <%= image_tag @poke.image, size: "80x80" %>
      </div>
    </div>
  </div>

  <div class="card-pokemon2 col-md-5 bg-primary ms-9 p-2 border rounded">
    <div class="row">
      <div class="col-md">
        <div class="pokemon-in-battle text-center m-2">
          <%= image_tag @poke.image, size: "400x400", class: "pokemon2", id: "pokemon_2" %>
        </div>
      </div>
      <div class="stats-pokemon col-md-3 mt-3 me-3 border border-dark rounded">
        <label><%= @poke.name.upcase %></label>
        <br>
        <label>HP <strong id="hp_poke2"><%= @poke.hp %></strong></label>
        <div class="bg-success rounded-pill m-2" id="bar_life2">
          <br>
        </div>
      </div>
      <hr class="ms-4 col-md-11 p-1 bg-light">
      <div class="col-md-6">
        <p>Pokemons inimigos restantes</p>
        <%= image_tag @poke.image, size: "80x80" %>
      </div>
    </div>
  </div>
</div>

<div class="row buttons-battle m-5 p-4 rounded text-cente">
  <div class="col-md-5 mb-2">
    <%= button_to "ATTACK", batles_attack_path, remote: true, id: "attack", class: "btn btn-pokemon" %>
  </div>
  <div class="col-md-5 mb-2">
    <%= button_to "DEFENSE", batles_defense_path, remote: true, id: "defense", class: "btn btn-pokemon" %>
  </div>
  <div class="col-md-5 mb-2">
    <%= button_to "ITEMS", batles_items_path, remote: true, id: "items", class: "btn btn-pokemon" %>
  </div>
  <div class="col-md-5 mb-2">
    <%= button_to "SKIP", batles_skip_path, remote: true, id: "skip", class: "btn btn-pokemon" %>
  </div>
</div>
