<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Tipo</th>
      <th scope="col">imagem</th>
      <th scope="col">imagem de frente</th>
      <th scope="col">add</th>
    </tr>
  </thead>
  <tbody>
    <% PokeApi.get(pokemon: {limit: 5}).results.each do |pokemon| %>
      <%= form_with model: @poke do |form| %>
      <tr>
        <td><%= PokeApi.get(pokemon: pokemon.name).name.capitalize %></td>
        <td><%= PokeApi.get(pokemon: pokemon.name).types.first.type.name.capitalize %></td>
        <td><%= image_tag PokeApi.get(pokemon: pokemon.name).sprites.back_default, height: '150px' %></td>
        <td><%= image_tag PokeApi.get(pokemon: pokemon.name).sprites.front_default, height: '150px' %></td>
        <%= form.hidden_field :name, value: PokeApi.get(pokemon: pokemon.name).name %>
        <%= form.hidden_field :team_id, value: @team %>
        <td><%= form.submit 'Add +' %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>