<div class="index-poke">
  <h1 class='text-center'><%= @pokemon.name.capitalize %></h1>
  <div class="row">
    <div class="col-md-5">
      <%= image_tag @pokemon.image, alt: "Pokemon", height: "500px", class: 'ms-5 bg-card' %>
    </div>
    <div class="col-md-6 mt-5">
      <h3 class='mb-3'>Tipos: <% PokeApi.get(pokemon: @pokemon.name).types.each do |tipo| %>
                  <%= image_tag "types/#{tipo.type.name}.svg" %>
                <% end %>
      </h3>
      <h3 class='mb-3'>Hp: <strong><%= @pokemon.hp %></strong></h3>
      <h3 class='mb-3'>Attack: <strong><%= @pokemon.attack %></strong></h3>
      <h3 class='mb-3'>Defense: <strong><%= @pokemon.defense %></strong></h3>
      <h3 class='mb-3'>Special Attack: <strong><%= @pokemon.special_attack %></strong></h3>
      <h3 class='mb-3'>Special Defense: <strong><%= @pokemon.special_defense %></strong></h3>
      <h3 class='mb-3'>Speed: <strong><%= @pokemon.speed %></strong></h3>
      <hr>
      <%= form_with model: @poke do |form| %>
        <%= form.label 'Selecione o time:', class: "fs-4" %>
        <%= form.select :team_id, @teams.map {|t| t.full? ? "Selecione" : [t.name, t.id]}, class: 'form-select'%>
        <%= form.hidden_field :name, value: @pokemon.name %>
        <%= form.hidden_field :hp, value: @pokemon.hp %>
        <%= form.hidden_field :attack, value: @pokemon.attack %>
        <%= form.hidden_field :defense, value: @pokemon.defense %>
        <%= form.hidden_field :special_attack, value: @pokemon.special_attack %>
        <%= form.hidden_field :special_defense, value: @pokemon.special_defense %>
        <%= form.hidden_field :speed, value: @pokemon.speed %>
        <%= form.hidden_field :image, value: PokeApi.get(pokemon: @pokemon.name).sprites.front_default %>
        <%= form.submit 'Add +', class: "btn btn-secondary ms-5" %>
      <% end %>
      <p class="mt-3">* Lembrando que pode ser adicionado no máximo 3 pokemons por time</p>
    </div>
  </div>
</div>
