<div class="" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/"><i class="bi bi-house text-dark fs-4"></i> Inicio</a>
    <%= link_to pokes_path, class: 'list-group-item list-group-item-action list-group-item-light p-3' do %>
      <%= image_tag ('pokeball.ico'), alt: '', width: '25px', height: "25px" %> Adicionar Pokemon
    <% end %>
    <%= link_to  teams_path, class: 'list-group-item list-group-item-action list-group-item-light p-3' do %>
      <%= image_tag ('pokebolas.png'), alt: '', width: '30px', height: "30px" %> Times
    <% end %>
        <%= link_to  batles_path, class: 'list-group-item list-group-item-action list-group-item-light p-3' do %>
      <%= image_tag ('battle-pokemon.png'), alt: '', width: '30px', height: "30px" %> Batalhas
    <% end %>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
  </div>
</div>
